.glassmorphism {
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg,
        rgba(26, 83, 156, 0.3),
        rgba(6, 67, 143, 0.2)
    );
    /* background-size: 30px; */
}